/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    list-style-type: none;
    text-decoration: none ! important;
    /* font-family: "Playfair Display", serif !important; */
    font-family: "Roboto Slab", serif !important;
}

.fade-in {
    animation: fadeInSlide .5s cubic-bezier(.43, .13, .23, .96);
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(32px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.primary_Bgclr {
    background-color: #44170D !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
}

.giftImgPos {
    position: absolute;
    width: 50px;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.topbar-left {
    display: flex;
}

@media (max-width: 700px) {
    .videoLogoSize img {
        width: 100px;
        height: 100px;
    }

    .digiGoldLogoSize {
        width: 100px;
        height: 80px;
    }
}